body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  position: relative;
}
.navbar-brand{
  padding: 0px !important;
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

img {
	border:1px solid #EEE;
	padding:6px;
  height: 300px;
  width:300px;
}

img.logo_restore{
  width: auto !important;
  height: auto !important;
  border : none;
  margin-top : 5px;
}
.itemImage {
  border:1px solid #EEE;
  padding:6px;
  height: 300px;
  width:300px;
  margin-left: 45px;
}

.itemName{
  margin-left: 60px;
}

img:hover {
	opacity:0.8;
}

.itemScore{
  display: inline;
}

.container{
  position:relative;
}
.carousel{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  position:relative;
}

.carousel li{
  background-color: white;
  text-align:center;
}
    
.roundabout-holder {
  list-style: none;
  padding: 0;
  height: 40em;
  width: 50em;
  padding-left:500px;
  margin-left:30%;
}
.roundabout-moveable-item {
  margin-top:20px;
  height: 40em;
  width: 60em;
  cursor: pointer;
  background-color: white;
  border: 1px solid #EEE;
}
.roundabout-in-focus {
  cursor: auto;
}

.like{
  width: 40%;
}

.dislike{
  width: 40%;
}

.buyNow{
  margin-right:auto;
  width:20%;
}
.buyNow:hover{
    opacity: 0.7;
}

.row{
  position:relative;
}

.similar{
  z-index:200;

}

.sidebar{
  position:absolute;
  width: 16%;
  height: 100%;
  padding-left: 19px;
  padding-right: 10px;
}

.crafterImg
{
  width: 150px;
  height: 150px;
  border: none !important;
}

.rightCard{
  padding-right: 20px;
}


.btn.btn-primary {
    background-color: #1ABC9C;
}
.btn.btn-large {
    font-size: 16.996px;
    line-height: 20px;
    padding: 12px 18px 13px;
}
.btn:first-child {
}
.btn {
    background: none repeat scroll 0 0 #BDC3C7;
    border: medium none;
    border-radius: 6px;
    box-shadow: none;
    color: #FFFFFF;
    line-height: 22px;
    padding: 9px 12px 10px;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.25s ease 0s;
}
.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14.994px;
    font-weight: 500;
}
.btn-primary {
    background-color: #006DCC;

    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-large {
    border-radius: 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #1ABC9C;    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #1ABC9C;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
a {
    color: #16A085;
    text-decoration: underline;
    transition: all 0.25s ease 0s;
}
a {
    color: #0088CC;
    text-decoration: none;
}

.similar{
  padding-left: 24%;
}

.sidebar{
  z-index:50;
}

.button_dislike{
}

.button_like{
    background-color: #15bd96;
    border-color: none;
    color: white;
    padding-top: 0.62rem;
    padding-bottom: 0.6875rem;
    padding-right: 0.6875rem;
    padding-left: 0.6875rem;
    font-size: 10px;
    text-align : center;
    position: relative;
    font-weight: bold;
    line-height: 1em;
    vertical-align: middle;
    zoom: 1;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    width: 100%;
    background-color: #f56363;
    background-image: -webkit-gradient(top, #df5d5d, #ca5d5d);
    border: 1px solid #f56363;
    border-color: #bb4d4d #d25c5c #f56363 #df5d5d;
}
.button_like:visited{
    cursor: pointer;
}
.button_dislike:hover{
    background-color: #fff !important;
    opacity: 0.7;
}


img.logo_restore{
    width: auto !important;
    height: auto !important;
    border : none;
    margin-top : 5px;
}

.override{
    text-align:left;
    text-size: 40px;
    max-width: 700px;
    margin-left: 85px !important;
    padding-bottom: 10px !important;
}