body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.navbar div.container div.collapse ul.nav li {
	margin-top:5px;
}

.intro-header div.container div.row div.col-lg-12 div.intro-message h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size:33px;
}

img:hover {
	opacity:0.8;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

#picturebox {
	width: 1200px;
	position: relative;
	left : 50%;
	margin-left: -600px;
}

.headshotbox {
	display:block;
	float:left;
	position:relative;
	margin-left:20px;
	margin-right:20px;
}

.pictext {
	color:#333;
}

h7 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#555;
    font-weight: 700;
    font-size:38px;
    margin-top:20px;
  }

  #myform input[type="text"], #myform textarea {
    background: none repeat scroll 0 0 #7BB7FA;
    border: 2px solid #6EA5E1;
    border-radius: 6px;
    box-shadow: none;
    color: #FFFFFF;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    height: 36px;
    padding: 9px 5px;
    text-indent: 6px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s;
    width: 100%;
}

/* ----------------Custom Buttons----------------- */

.btn.btn-primary {
    background-color: #1ABC9C;
}
.btn.btn-large {
    font-size: 16.996px;
    line-height: 20px;
    padding: 12px 18px 13px;
}
.btn:first-child {
}
.btn {
    background: none repeat scroll 0 0 #BDC3C7;
    border: medium none;
    border-radius: 6px;
    box-shadow: none;
    color: #FFFFFF!important;
    line-height: 22px;
    padding: 9px 12px 10px;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.25s ease 0s;
}

.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14.994px;
    font-weight: 500;
}

.btn:hover {
	background-color: #111;
    background-image: linear-gradient(to bottom, #3F3F3F, #222222);
	border:1px solid #FFF;
}

.btn-primary {
    background-color: #1ABC9C;

    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-large {
    border-radius: 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #1ABC9C;
    background-image: linear-gradient(to bottom, #1ABC9C, #009979);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
}
a {
    color: #16A085;
    text-decoration: underline;
    transition: all 0.25s ease 0s;
}
a {
    color: #0088CC;
    text-decoration: none;
}